body {
    background-color: #222;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

a {
    color: burlywood;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
}